*#
*.aps
*.bsc
*.cer
*.cod
*.crt
*.dll
*.exe
*.exp
*.idb
*.ilk
*.ipch
*.key
*.lib
*.map
*.obj
*.opensdf
*.pdb
*.pem
*.pfx
*.pvk
*.sdf
*.sln.old
*.spc
*.suo
*.swp
*.tlog
*~
/tmp/
_UpgradeReport_Files/
ipch/
GIT_HEAD_MASTER*
csvstream.csv
csvstream.log
threadpool.log
