*.7z     binary
*.bmp    binary
*.bz2    binary
*.cab    binary
*.dll    binary
*.doc    binary
*.docx   binary
*.exe    binary
*.gif    binary
*.gpg    binary
*.iso    binary
*.jpg    binary
*.lib    binary
*.pdf    binary
*.pdw    binary
*.png    binary
*.ppt    binary
*.pptx   binary
*.qm     binary
*.tar    binary
*.tar.gz binary
*.tar.xz binary
*.tgz    binary
*.txz    binary
*.xsl    binary
*.xslx   binary
*.zip    binary

*.bat    text eol=crlf
*.crt    text eol=lf
*.gpg    text eol=lf
*.hdev   text eol=lf
*.hdvp   text eol=lf
*.key    text eol=lf
*.pem    text eol=lf
*.qrc    text eol=lf
*.sln    text eol=crlf
*.ts     text eol=lf
*.ui     text eol=lf

Resource.h encoding=GBK
version.h  encoding=GBK
*.csv      encoding=GBK
*.rc       encoding=GBK
*.rc2      encoding=GBK

*.hdev     merge=ours
