/**********************************************************
* 资源文件
* 支持平台：Windows
* 编译环境：VS2013+
* 创建时间：2015-04-25 （宋万鹏）
* 最后修改：2015-05-01 （宋万鹏）
***********************************************************/

#include <Windows.h>
#include "version.h"

#define IDR_VERSION1  1
IDR_VERSION1        VERSIONINFO MOVEABLE IMPURE LOADONCALL DISCARDABLE
  FILEVERSION       FILE_VERSION_MAJOR,FILE_VERSION_MINOR,FILE_VERSION_POINT,FILE_VERSION_POINT2
  PRODUCTVERSION    FILE_VERSION_MAJOR,FILE_VERSION_MINOR,FILE_VERSION_POINT,FILE_VERSION_POINT2
  FILEFLAGSMASK     VS_FFI_FILEFLAGSMASK
  FILEFLAGS         0
  FILEOS            VOS_NT_WINDOWS32
  FILETYPE          VFT_APP
  FILESUBTYPE       0 // not used
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription",  "System Constituent for Chixiao Tech."
      VALUE "FileVersion",      FILE_VERSION
      VALUE "ProductVersion",   FILE_VERSION
      VALUE "InternalName",     INTERAL_NAME
      VALUE "OriginalFilename", INTERAL_NAME ".dll"
      VALUE "ProductName",      "System Constituent"
      VALUE "Comments",         "DLL support by Wanpeng Song <" EMAIL_ADDRESS "> & Chixiao Tech."
      VALUE "LegalCopyright",   LEGAL_COPYRIGHT "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END
